[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
factory-boy = "*"
psycopg2-binary = "*"
django-extensions = "*"
ipython = "*"
channels = "*"
channels-redis = "*"
django-voting = "*"
django-crispy-forms = "*"

[dev-packages]

[requires]
python_version = "3.9"
