[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
factory-boy = "*"
psycopg2-binary = "*"
django-extensions = "*"
ipython = "*"
channels = "*"
channels-redis = "*"
django-voting = "*"
django-crispy-forms = "*"
drf-yasg = "*"
gunicorn = "*"
whitenoise = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
djangorestframework-simplejwt = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
