{% extends 'base.html' %}

{% load static %}

{% block title %}
debates
{% endblock %}

{% block content %}
    <div class="mt-5" style="margin-left: 10%; margin-right: 10%" id="app">
        <p>[[ online_users_number ]] watching</p>
        <div style="width: 100%; height: 100%; display: grid; place-items: center">
            <div >
                <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/cZSCDMaS7Rw"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>

                </iframe>
            </div>
        </div>

        <div class="row text-center">
            <div v-for="candidate in candidates" v-bind:class="'col-' + 12 / candidates.length">
                <h1>[[ candidate.name ]]</h1>
                <h5><i>[[ Math.round(100 / totalVotes * candidate.votes) ]]%</i></h5>
                [[ candidate.votes ]] votes
                <br>
                <button class="btn btn-success"
                        v-on:click="candidate.votes++; sendVote(candidate)">
                    vote
                </button>
            </div>
        </div>

        <h2 style="text-align: center"><b>Comments</b></h2>

        <div style="width: 100%; height: 100%; display: grid; place-items: center">
            <textarea cols="100" rows="10"></textarea><br>
            <input type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send" class="btn btn-dark">
        </div>

    </div>
{% endblock %}

{% block inline_js %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'services.js' %}"></script>
{% endblock %}

{% block js %}
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

        const ID = "{{id}}";
        const WEBSOCKET_URL = `ws://localhost:8000/ws/debates/${ID}/`;

        let ws = new WebsocketService(WEBSOCKET_URL);

        let app = new Vue({
            delimiters: ["[[", "]]"],
            el: "#app",
            data: {
                candidates: [],
                online_users_number: 0,
            },
            computed: {
              totalVotes: function () {
                  let total = 0;
                  this.candidates.forEach(function (candidate) {
                      total += candidate.votes;
                  });
                  return total;
              }
            },
            beforeMount: function () {
                this.getDebateAndCandidates();
                this.setWebsocketEvents();

            },
            methods: {
                getDebateAndCandidates: function () {
                    let self = this;

                    let url = `/api/v1/debates/${ID}/`;
                    axios
                        .get(url)
                        .then(function (response) {
                            self.$data = response.data;
                        });

                    axios
                        .get(url + 'get_candidates/')
                        .then(function (response) {
                            self.candidates = response.data;
                        });
                },
                setWebsocketEvents: function () {
                    let self = this;
                    ws.onmessage = function (message) {
                        message = JSON.parse(message.data);
                        self.online_users_number = message.count;

                    }
                },


                sendVote: function (candidate) {
                    ws.send(JSON.stringify({
                        event: EVENTS.VOTE,
                        candidate: candidate
                    }))
                }

            }

        })
    </script>
{% endblock %}