{% extends 'base.html' %}

{% block title %}
debates list
{% endblock %}

{% block content %}
    <div style="height: 100vh">
        {% for debate in debates %}

            <div style="width: 80%; height: 15%; margin-top: 2%; margin-left: 10%; padding: 2%" class="shadow-lg">
                <div class="row">
                    <div class="col-4">
                        <a href="{% url 'debate' debate.id %}">
                        <h4>{{ debate.topic }}</h4>
                        </a>
                    </div>
                    <div class="col-4">
                        {{ debate.views }} views
                    </div>
                    <div class="col-4">
                        {{ debate.candidates.count }} candidates
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}